:root {
	--seriy: #808080;
	--sertw: #c0c0c0;
	--ser3: #666666;
	--ser4: #c0c0c0;
	--marun: maroon;
	--svetlored: #FF3B38;
	--proz: transparent;
	--filet: darkorchid;
	--filet2: #9426af;
	--dviolet: darkviolet;
	--svetlo-green: #2dffce;
	--dark: #232625;
	--yell: #ffe500;
	--bluee: #0A9AD8;
	--bluedark: hsl(197, 78%, 42%);
	--effect: 0.3s ease-in-out;
	--radius: 8px;
	--bodbc: white;
}
body * {
	transition: var(--effect);
}
*:not(#finish) {
	user-select: none;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background: var(--bodbc);
	/*filter: invert(100) hue-rotate(20deg);*/
}
button:focus {
	outline: none !important;
}

input:focus {
	outline: none !important;
}

.settings {
	width: 340px; 
  padding: 10px 20px;
  background: white;
  color: black;
  position: relative;
  top: -615px;
  left: 730px;
  border: 2px solid var(--marun);
  border-radius: var(--radius);
  box-shadow:
 		6px 6px 5px var(--sertw),
 		-4px -4px 5px var(--sertw);
}
.settings > button:nth-of-type(1),
.settings > button:nth-of-type(3),
.settings > button:nth-of-type(4), 
.settings > button:nth-of-type(2) {
	border: 2px solid var(--marun);
	background: white;
	color: black;
	font-size: 18pt;
	padding: 8px 15px;
	margin-right: -7px;
}

.settings > button:nth-of-type(1),
.settings > button:nth-of-type(3) {
	border-radius: var(--radius) 0px 0px var(--radius);
}
.settings > button:nth-of-type(4),
.settings > button:nth-of-type(2) {
	border-radius: 0px var(--radius) var(--radius) 0px;
}


.settings > div:nth-of-type(1) {
	font-size: 18pt;
	letter-spacing: 2px;
	padding: 6px;
}
.settings > div:nth-of-type(2) {
	font-size: 18pt;
	letter-spacing: 2px;
	padding: 6px;
	padding-bottom: 20px;
} 
.settings > div:nth-of-type(3) {
	font-size: 18pt;
	letter-spacing: 2px;
	padding: 6px;
	padding-bottom: 20px;
	padding-top: 20px;
}
.settings > div:nth-of-type(4) {
	font-size: 18pt;
	letter-spacing: 2px;
	padding: 6px;
}
.settings > div:nth-of-type(5) {
	font-size: 18pt;
	letter-spacing: 2px;
	padding: 6px;
	padding-bottom: 20px;
}  

.content {
  width: 650px; 
  padding: 10px;
  background: white;
  color: black;
  position: relative;
  top: 20px;
  left: 20px;
  border: 2px solid var(--marun);
  border-radius: var(--radius);
  box-shadow:
 		6px 6px 5px var(--sertw),
 		-4px -4px 5px var(--sertw);
}

/* НАЗВАНИЕ САЙТА*/
.content > div:nth-of-type(1) {
	font-size: 20pt;
	letter-spacing: 2px;
	padding: 10px;
}
/* описание сайта */
.content > div:nth-of-type(2) {
	font-size: 16pt;
	letter-spacing: 1px;
	padding: 8px;
}

/* ВОЗМОЖНОСТЬ ВЫБРАТЬ ДЛИНУ ПАРОЛЯ */
.content > div:nth-of-type(3) {
	font-size: 16pt;
	letter-spacing: 1px;
	padding: 8px;
}
.selectLengthPass {
	padding: 10px;
	margin-left: 10px;
}
.selectLengthPass > button:nth-of-type(5) {
	border: 2px solid var(--marun);
	background: white;
	color: black;
	font-size: 18pt;
	padding: 8px 10px;
	margin-left: -7px;
}
.selectLengthPass > input:nth-of-type(1) {
	width: 200px;
	padding: 8px;
	border: 2px solid var(--marun);
	background: white;
	color: black;
	font-size: 18pt;
	margin-left: -7px;
}
.selectLengthPass > button:nth-of-type(1),
.selectLengthPass > button:nth-of-type(2),
.selectLengthPass > button:nth-of-type(3),
.selectLengthPass > button:nth-of-type(4) {
	border: 2px solid var(--marun);
	background: white;
	color: black;
	font-size: 18pt;
	padding: 8px 15px;
	margin-left: -7px;
}

/* ВОЗМОЖНОСТЬ ДОБАВЛЯТЬ БУКВЫ */
.content > div:nth-of-type(5) {
	font-size: 16pt;
	letter-spacing: 1px;
	padding: 8px;
}
.selectBukvYesOrNo {
	padding: 10px;
	margin-left: 10px;
}
.selectBukvYesOrNo > button:nth-of-type(1), 
.selectBukvYesOrNo > button:nth-of-type(2) {
	border: 2px solid var(--marun);
	background: white;
	color: black;
	font-size: 18pt;
	padding: 8px 20px;
	margin-left: -7px;
} 

.result {
	padding: 10px;
	margin-left: 10px;
}
#finish {
	font-size: 20pt;
	letter-spacing: 3px;
	padding: 8px;
	user-select: text;
}
.result > button:nth-of-type(1) {
	border: 2px solid var(--marun);
	background: var(--marun);
	color: white;
	font-size: 18pt;
	padding: 8px 15px;
	margin-left: -7px;
	letter-spacing: 2px;
	border-radius: var(--radius);
}
.result > button:nth-of-type(1):active {
	background: var(--marun);
	color: white;
}
.result > button:nth-of-type(1):hover {
	background: white;
	color: black;
	border-top: 2px solid var(--proz);
	border-bottom: 2px solid var(--proz);
}


/* BORDER-RADIUS */
.selectLengthPass > button:nth-of-type(1),
.selectBukvYesOrNo > button:nth-of-type(1) {
	border-radius: var(--radius) 0px 0px var(--radius);
}
.selectLengthPass > input:nth-of-type(1),
.selectBukvYesOrNo > button:nth-of-type(2) {
	border-radius: 0px var(--radius) var(--radius) 0px;
}

/* UPPERCASE METOD | ОПИСАНИЕ */
.content > div:nth-of-type(7) {
	font-size: 16pt;
	letter-spacing: 1px;
	padding: 8px;
}
.selectUpperCase {
	padding: 10px;
	margin-left: 10px;
}
.selectUpperCase > button:nth-of-type(1), 
.selectUpperCase > button:nth-of-type(2) {
	border: 2px solid var(--marun);
	background: white;
	color: black;
	font-size: 18pt;
	padding: 8px 20px;
	margin-left: -7px;
}
.selectUpperCase > button:nth-of-type(1) {
	border-radius: var(--radius) 0px 0px var(--radius);
}
.selectUpperCase > button:nth-of-type(2) {
	border-radius: 0px var(--radius) var(--radius) 0px;
}
